<% title "Ukázky" %>

<% paginated_section @shows do -%>
<hr />
  <% for show in @shows do -%>
    <%= render show %>
  <% end -%>
<hr />
<% end %>

<p><%= link_to "Nová ukázka", new_show_path %></p>

