<% title "Ukázky" %>
<div id='table_hint'>
  <span class="subscribed">Jedu</span>|<span class="not_subscribed">Nejedu</span>
</div>

<% paginated_section @shows do -%>
  <hr />
  <table>
    <thead>
      <tr>
        <th scope="col">Ukázka</th>
        <th scope="col">Sraz</th>
        <th scope="col">Návrat</th>
        <th scope="col">Typ ukázky</th>
        <th scope="col">Lidí</th>
      </tr>
     </thead>
     <tbody>
      <% for show in @shows do -%>
        <%= render show %>
      <% end -%>
     </tbody>
  </table>
  <hr />
<% end %>
<% if can? :create, Show then -%>
<p><%= link_to "Nová ukázka", new_show_path %></p>
<% end -%>

